@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
body {
  font-family: "Poppins", serif;
}
.react-tabs__tab {
  background-color: white;
  padding: 14px 24px;
  display: inline-block;
  border: none;
}
.react-tabs__tab:focus {
  outline: none;
}
.react-tabs__tab--selected {
  border: 2px solid #06a055;
  border-radius: 5px 5px 0 0;
}
